[core]
  compression = -1
  editor = vim
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  b = branch --show-current
  co = checkout
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  com = "!f(){ git checkout $(git main-branch) $@;}; f"
  upm = "!f(){ git pull --rebase --autostash origin $(git main-branch) $@;}; f"
  s = status
[blame]
  showEmail = true
[branch]
  sort = -committerdate
[color]
  ui = auto
[column]
  ui = auto dense
[commit]
  cleanup = strip
  gpgSign = true
[diff]
  guitool = vscode
  algorithm = histogram
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  prune = true
  parallel = 4
[format]
  pretty = fav
[grep]
  extendRegexp = true
  lineNumber = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
[help]
  autocorrect = 1
[http]
  cookiefile = /Users/htdvisser/.gitcookies
[http "https://gopkg.in"]
  followRedirects = true
[log]
  abbrevCommit = true
[merge]
  guitool = vscode
  conflictsyle = diff3
[mergetool "vscode"]
  cmd = code --wait $MERGED
[mergetool]
  keepBackup = false
[pretty]
  fav = "%C(yellow)%h%C(reset)\t%<(40,trunc)%s\t(%C(cyan)%an %C(dim)%ar%C(reset))%C(dim)%d"
[pull]
  ff = only
[push]
  default = upstream
[rebase]
  autoSquash = true
[rerere]
  enabled = true
  autoUpdate = true
[status]
  short = true
  branch = true
[tag]
  gpgSign = true
  sort = -v:refname
[versionsort]
  suffix = -pre
  suffix = -rc

[user]
  useConfigOnly = true
  name = Hylke Visser
[github]
  user = htdvisser
[hub]
  protocol = https

[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main

[includeIf "gitdir:~/projects/htdvisser/"]
  path = ~/.gitconfig.personal
[includeIf "gitdir:~/projects/fork/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/projects/hylke.visser/"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/projects/1Password/"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/projects/b5/"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/projects/dev/"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/projects/infra/"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/projects/ops/"]
  path = ~/.gitconfig.work
